header {
  height: min-content;
  width: 100%;

  background-color: darkseagreen;
  background-color: #ffdfde;
  background-image: url('../images/bg/binding-dark.png');

  display: flex;
  justify-content: center;
  align-content: center;

}

header img {
  width: 200px;
  height: 200px;
}

.avatar-name {
  padding-top: 1em;
  justify-content: center;
  height: min-content;
}

#name {
  padding-top: 0.2em;
  display: flex;
  justify-content: center;
  font-size: xx-large;
  font-weight: bolder;

}