header {
  height: 400px;
  width: 100%;

  background-color: darkseagreen;
  background-color: #ffdfde;
  background-image: url('../images/bg/binding-dark.png');

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;

}

.avatar-name {
  justify-content: center;

}

#name {
  display: flex;
  justify-content: center;

}