/* 
    The header should have a height of 400px and be 100% the width of its parent container
    The avatar should be centered vertically and horizontally (Hint: the justify-content and align-items properties are helpful for centering things if you're using Flexbox.)
    The name should be centered below the avatar
    The background-color should be a different colour than the nav and the body */

header {
  height: 400px;
  width: 100%;
  background-color: darkseagreen;
  background-color: #ffdfde;
  background-image: url('../images/binding-dark.png');

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;


  border: 1px solid red;

}

.avatar-name {
  justify-content: center;


  border: 1px solid red;
}

#name {
  display: flex;
  justify-content: center;

  border: 1px solid red;
}