.new-tweet {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}

.new-tweet .bottom {
  padding: 1% 4%;
  font-weight: 900;

  display: flex;
  justify-content: space-between;
}

.new-tweet #button {
  background-color: #4056A1;
  color: white;
  font-family: 'Bungee', cursive;
}

textarea {
  padding: 2% 3%;
  height: 72px;
  background-color: transparent;
  border-color: transparent;
}

textarea:hover {
  background-color: rgb(241, 241, 241);
  background-image: url('../images/bg/binding-dark.png');
  border-color: transparent;
}

#red-counter {
  color: red;
}