article {
  margin-bottom: 1em;
  border: 2px solid black;
}

article:hover {
  box-shadow: 5px 10px #aa7777;
}

article header{
  /* override general header css */
  height: 100%;
  width: 100%;
  padding: 0.3em 0.5em;

  display: flex;
  justify-content: space-between;
}

.avatar {
  height: 24px;
  width: 24px;
}

.name {
  font-weight: bold;
}

.handle {
  font-style: italic;
}

article p {
  margin: 3% 3%;
  word-wrap: break-word;
}

article footer {
  padding: 0% 2%;

  display: flex;
  justify-content: space-between;
}


article footer .icons {
  width: 60px;
  font-size: 14px;
  color: #4056A1;

  display: flex;
  justify-content: space-between;
}

#flag:hover {
  color: #f3f3b2;
}
#retweet:hover {
  color: #f3f3b2;
}
#heart:hover {
  color: #f3f3b2;
}